[Desktop Entry]
Version=1.0
Type=Application
Name=浏览器
Icon=web-browser
Exec=chromium --no-sandbox --disable-dev-shm-usage --remote-debugging-address=127.0.0.1 --remote-debugging-port=9222 --user-data-dir=/workspace/.chromium --no-first-run
Terminal=false
StartupNotify=true
