[Desktop Entry]
Version=1.0
Type=Application
Name=Spreadsheets & CSV
Name[zh_CN]=表格与 CSV
Icon=libreoffice-calc
Exec=libreoffice --calc
Terminal=false
StartupNotify=true
